body {
    text-align: center;
    font-family: Comic Sans MS;
    /* background: #fff3e0; */
    background: linear-gradient(to right, #b3ffff, #fcb69f);
    
  }

  .title {
    font-size: 2.5rem;
    color: hsl(235, 100%, 50%);
    margin: 20px;
}

.letters button {
  font-size: 2.5rem;
  margin: 10px;
  /* padding: 10px 20px; */
   padding: 30px;
    border-radius: 50%;

    background: linear-gradient(135deg, #ff00ea, #ff5722);
  box-shadow: 0 6px 12px rgba(0,0,0,0.25);
  font-weight: bold;
/* background-color: #ff7043; */
  cursor: pointer;

  
}




.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  display: flex;
  gap: 20px;
  align-items: center;
  z-index: 1000;
}

.popup.show {
  animation: pop 0.5s ease forwards;
}

@keyframes pop {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

.hidden {
  display: none;
}

.popup-content {
  background: rgb(152, 219, 253);
  padding: 24px;
  width: 720px;
  height: 420px;
  border-radius: 20px;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 200px;
  height: 200px;
  background: hsl(235, 100%, 50%);
  color: white;
  border-radius: 50%;
  font-size: 120px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.square {
  width: 380px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
  /* background-color: #e2e244;
  border: 3px solid #333; */
}

.square img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
