body {
    text-align: center;
    font-family: Comic Sans MS;
    /* background: #fff3e0; */
    background: linear-gradient(to right, #b3ffff, #fcb69f);
    
  }
  
h1 {
  font-size: 36px;
}

.letters button {
  width: 80px;
  height: 80px;
  margin: 10px;
  font-size: 32px;
  border-radius: 12px;
  border: none;
  background: #ffcc80;
  cursor: pointer;
  transition: 0.2s;
}

.letters button:hover {
  transform: scale(1.1);
}

/* POPUP */
.popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.hidden {
  display: none;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 16px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

/* Circle */
.circle {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: linear-gradient(135deg,#ff5722,#ff9800);
  color: white;
  font-size: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Square */
.square {
  width: 160px;
  height: 160px;
  border-radius: 12px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square img {
  max-width: 100%;
  max-height: 100%;
}
